<div class="div">

<h1 class="title is-4"> Search flights </h1>


<div>
  <%= simple_form_for :search, url: root_path, method: "GET", local: true do |f| %>
    <%= f.input :start_id, label: "From", :collection => (@airports), wrapper: false %>
    <%= f.input :finish_id, label: "To", :collection => (@airports), wrapper: false %>
    <%= f.input :departure, :collection => ( @flight_dates ), wrapper: false, prompt: "Available flight date", hint: "Leave as default", label_html: {class:"label"} %>
    <%= f.input :passenger, :collection => ( @passengers), selected: '2', wrapper:false %>
    <%= f.submit "Search", class:"button is-info" %>
  <% end %>
</div><br />

<div>
  <% if params[:search] %>
    <% if @results.empty? %>
      <h3> No flight found for your search criteria. </h3>
    <% else %>
      <%= simple_form_for :booking, url: new_booking_path, method: :GET do |form| %>
      <%= form.hidden_field :passenger, :value => (params[:search][:passenger])  %>
      <%= form.hidden_field :num_tickets, :value => (params[:search][:passenger]) %>

      <h3> Available flights </h3>
        <% @results.each do |flight| %>
          <table border="">
            <tr>
              <th>Choose this flight</th>
              <th>From (Code)</th>
              <th>Name</th>
              <th>Location</th>
              <th>To (Code)</th>
              <th>Name</th>
              <th>Location</th>
              <th>Departure Date</th>
              <th>Duration</th>
            </tr>
            <tr>

              <td><%= form.radio_button :flight_id, flight.id  %></td>

              <td><%= flight.from_airport.name %></td>
              <td><%= flight.from_airport.airport_name %></td>
              <td><%= flight.from_airport.location %></td>

              <td><%= flight.to_airport.name %></td>
              <td><%= flight.to_airport.airport_name %></td>
              <td><%= flight.to_airport.location %></td>

              <td><%= flight.departure.to_formatted_s(:long_ordinal) %></td>
              <td><%= flight.duration %></td>
            </tr><br />
          </table>
        <% end %>
        <%= form.submit "Book flight", class:"button is-dark" %>
      <% end %>
    <% end %>
  <% end %>
</div>

</div>
