<h1> Search flights </h1>


<div>
  <%= simple_form_for :search, url: root_path, method: "GET", local: true do |f| %>
    <%= f.input :start_id, label: "From", :collection => (@airports), wrapper: false %>
    <%= f.input :finish_id, label: "To", :collection => (@airports) %>
    <%= f.input :departure, :collection => ( @flight_dates ), prompt: "Available flight date", hint: "Leave as default if you don't know date to choose." %>
    <%= f.input :passenger, :collection => ( @passengers), selected: '2' %>
    <%= f.submit "Search" %>
  <% end %>
</div><br />

<div>
  <% if params[:search] %>
    <% if @results.empty? %>
      <h3> No flight found for your search criteria. </h3>
    <% else %>
      <%= simple_form_for :booking, url: new_booking_path, method: :GET do |form| %>
      <%= form.hidden_field :passenger, :value => (params[:search][:passenger])  %>
      <%= form.hidden_field :num_tickets, :value => (params[:search][:passenger]) %>

      <h3> Available flights </h3>
        <% @results.each do |flight| %>
          <table border="">
            <tr>
              <th>Choose this flight</th>
              <th>From</th>
              <th>To</th>
              <th>Departure Date</th>
              <th>Duration</th>
            </tr>
            <tr>

              <th><%= form.radio_button :flight_id, flight.id  %></th>

              <td><%= flight.from_airport.name %></td>
              <td><%= flight.to_airport.name %></td>
              <td><%= flight.departure.to_formatted_s(:long_ordinal) %></td>
              <td><%= flight.duration %></td>
            </tr><br />
          </table>
        <% end %>
        <%= form.submit "Book flight" %>
      <% end %>
    <% end %>
  <% end %>
</div>
